<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset = "utf-8">

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">

        <link href="/static/css/coming-sssoon.css" rel="stylesheet" />

        <title> Reentrancy Case </title>

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="main" style="background-image: url('/static/images/geometric-leaves.png')">
            <div class="columns">
                <div class="medium-4 row">
                    <h3> Welcome to Reentrancy Bug Tutorial!</h3><br><br>
                </div>

                <div class="medium-2 right" style="background-color:#f1f1f1;">
                    <ul class="side-nav">
                        <li><a href="/tutorial">Return to Bugs List</a></li>
                        <li><a href="/hall">Return to Homepage</a></li>
                    </ul>
                </div>

                <div class="medium-3 columns" style="background-color:#f1f1f1;">
                    <a href="/tutorial/reentrancy/Game_deployment">ReentrancyGame deployment</a><br>
                    {% if result1 %}
                        <p> Contract Address: {{ result1 }}</p>
                    {% else %}
                        <p> Contract Address: </p>
                    {% endif %}
                    <p> Balance of Game: </p><input type="text" value="{{ Balance_G }}">
                    <form method="post" action="/tutorial/reentrancy/checkBalance">
                        <button type="submit" name="submit_button" value="D">deposit</button><br><br>
                    </form>
                </div>
                <div class="medium-4 row" >
                    <h4>{{ text1 }}</h4>
                </div>
                <br>

                <div class="medium-3 columns" style="background-color:#f1f1f1;">
                    <a href="/tutorial/reentrancy/Attack_deployment">ReentrancyAttack deployment</a><br>
                    <p> Contract Address: {{ result2 }}</p>
                    <p> Balance of Attack: </p><input type="text" value="{{ Balance_A }}"><br>
                    <form method="post" action="/tutorial/reentrancy/checkBalance">
                        <button type="submit" name="submit_button" value="GA">checkBalance</button><br><br>
                    </form>
                    <a href="/tutorial/reentrancy/attack">Start to attack!</a><br><br>
                </div>
                <div class="medium-4 row" >
                    <h4>{{ text2 }}</h4>
                </div>
            </div>
        </div>
    </body>
</html>