<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset = "utf-8">

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">

        <link href="/static/css/coming-sssoon.css" rel="stylesheet" />

        <title> ReturnCheck Case </title>

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="main" style="background-image: url('/static/images/geometric-leaves.png')">
            <div class="columns">
                <div class="medium-4 row">
                    <h3> Welcome to ReturnCheck Bug Tutorial! </h3><br><br>
                </div>

                <div class="medium-2 right" style="background-color:#f1f1f1;">
                    <ul class="side-nav">
                        <li><a href="/tutorial">Return to Bugs List</a></li>
                        <li><a href="/">Return to Homepage</a></li>
                    </ul>
                </div>

                <div class="medium-3 columns" style="background-color:#f1f1f1;">
                    <a href="/tutorial/returncheck/Game_deployment">UncheckedGame deployment</a><br>
                    <p> Contract Address: {{ result1 }}</p>
                    <p> Balance of UncheckedGame: </p><input type="text" value="{{ Balance_G1 }}">
                    <p> Balance of Account "RevertContract": </p><input type="text" value="{{ Balance_RC }}">
                    <form method="post" action="/tutorial/returncheck/ownedEth">
                        <button type="submit" name="submit_button" value="RC">Balance of Account</button>
                    </form>
                </div>
                <div class="medium-4 row" >
                    <h4>{{ text1 }}</h4>
                </div>
                <br>

                <div class="medium-3 columns" style="background-color:#f1f1f1;">
                    <a href="/tutorial/returncheck/Revert_deployment">RevertContract deployment</a><br>
                    <p> Contract Address: {{ result2 }} </p>
                    <p> Balance of RevertContract: </p><input type="text" value="{{ Balance_R1 }}">

                    <form method="post" action="/tutorial/returncheck/ownedEth">
                        <button type="submit" name="submit_button" value="D"> deposit </button><br>
                        <button type="submit" name="submit_button" value="W"> withdraw </button><br>
                        <button type="submit" name="submit_button" value="UR"> checkBalance </button>
                    </form>
                </div>
                <div class="medium-4 row" >
                    <h4>{{ text2 }}</h4>
                </div>
                <br>
            </div>
        </div>
    </body>
</html>